pip>=23.2
setuptools>=68.0
wheel>=0.41

affine==2.4.0
albumentations==0.4.3
fiona==1.9.5
geopandas==0.13.2
gdal==3.6.4
matplotlib==3.5.3
networkx==2.8.8
numba==0.56.4
numpy==1.23.5
opencv-python==4.2.0.34
osmnx==1.5.1
pandas==1.3.5
p_tqdm==1.4.0
pyyaml==6.0.1
rasterio==1.3.9
requests==2.31.0
rtree==1.0.1
scikit-image==0.19.3
scipy==1.9.3
statsmodels==0.13.5
tensorflow-cpu==2.11.1
torch==1.13.1
torchsummary==1.5.1
torchvision==0.14.1
tqdm==4.66.1
urllib3==1.26.18
utm==0.7.0

# Jupyter tooling
ipykernel==6.25.2
ipywidgets==8.1.1
